/.TheoryStoreLangRuntimeModule.java._trace
/.TheoryStoreLangRuntimeModule.xtendbin
/.TheoryStoreLangStandaloneSetup.java._trace
/.TheoryStoreLangStandaloneSetup.xtendbin
/TheoryStoreLangRuntimeModule.java
/TheoryStoreLangStandaloneSetup.java
