/.AgentLangGenerator.java._trace
/.AgentLangGenerator.xtendbin
/.ArgumentGraphGenerator.java._trace
/.ArgumentGraphGenerator.xtendbin
/.TheoryStoreGenerator.java._trace
/.TheoryStoreGenerator.xtendbin
/AgentLangGenerator.java
/ArgumentGraphGenerator.java
/TheoryStoreGenerator.java
