/.ModellingSpeakIdeModule.java._trace
/.ModellingSpeakIdeModule.xtendbin
/.ModellingSpeakIdeSetup.java._trace
/.ModellingSpeakIdeSetup.xtendbin
/ModellingSpeakIdeModule.java
/ModellingSpeakIdeSetup.java
