/.ModellingSpeakDescriptionLabelProvider.java._trace
/.ModellingSpeakDescriptionLabelProvider.xtendbin
/.ModellingSpeakLabelProvider.java._trace
/.ModellingSpeakLabelProvider.xtendbin
/ModellingSpeakDescriptionLabelProvider.java
/ModellingSpeakLabelProvider.java
