<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arguments -->
      <package
            uri="http://www.example.org/arguments"
            class="uk.ac.kcl.inf.modelspeak.arguments.ecore.arguments.ArgumentsPackage"
            genModel="model/arguments.genmodel"/>
   </extension>

</plugin>
