/.ModellingSpeakRuntimeModule.java._trace
/.ModellingSpeakRuntimeModule.xtendbin
/.ModellingSpeakStandaloneSetup.java._trace
/.ModellingSpeakStandaloneSetup.xtendbin
/ModellingSpeakRuntimeModule.java
/ModellingSpeakStandaloneSetup.java
